<div class="footer-info d-flex flex-column min-vh-50">
    <div class="social-link">
       <i class="fa-brands fa-square-facebook"></i>
       <i class="fa-brands fa-square-instagram"></i>
       <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="brand-priv">
         &copy;StayFrizz Private Limited
    </div>
    <div class="conditions">
        <a href="/privacy" class="cond">Privacy</a>
        <a href="/terms" class="cond">Terms</a>

    </div>
</div>
